
/************************
******** GENERAL ********
*************************/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-image: url("https://www.stickpng.com/assets/images/5930082c3919fe0ee3614dab.png");
	background-position: center;
	background-repeat: repeat;
    background-size: 60px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: black;
    text-transform: uppercase;
}

/************************
******* GAME PAGE *******
*************************/

/*** DICE, CHRONO AND MONEY DISPLAY ***/

.interface {
    display: flex;
}

/*** MONEY DISPLAY ***/

.money-container {
    background-color: black;
    color: white;
    font-size: 2.4em;
    width: 9em;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 30px;
    border: 3px solid red;
    border-radius: 10px;
    margin-left: 20%;
}

.player-name {
    font-size: 0.8em;
    letter-spacing: 0.1em;
    text-align: center;
    font-family: 'Bangers', cursive;
    border-radius: 3px;
    color: white;
}

#money-count {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6em;
}

/*** DICE BUTTON and NUMBER AND REMAINING TIME ***/

.dice-container {
    background-color: red;
    width: 29em;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-top: 30px;
    border: 3px solid black;
    border-radius: 10px;
}
#num-dice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.6em;
    margin-right: 10px;
    color: white;
    width: 1em;
    height: 1em;
    font-family: 'Indie Flower', cursive;
    border: 4px solid white;
    border-radius: 8px;
}

.button-dice {
    border: 2px solid black;
    color: white;
    background-color: black;
    border-radius: 35px;
    width: 55px;
    height: 55px;
    font-size: 15px;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
}

.button-dice:active {
    box-shadow: 2px 4px 2px white;
    transform: translateY(4px);
  }

.button-dice:focus {
    outline: 0;
}

.num-throw-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*** REMAINING TIME ***/

.remaining-time-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px solid black;
    height: 8em;
}

.remaining-time {
    font-size: 15px;
    font-family: 'Bangers', cursive;
    color: white;
    margin-right: 1em;
    line-height: 1.5em;
    letter-spacing: 0.2em;
}

#remaining-sec {
    font-size: 1.3em;
    font-family: 'Roboto Mono', monospace;
    border: 2px solid black;
    border-radius: 0.4em;
    color: red;
    height: 0.1em;
    background-color: white;

}

/*** CHRONO BUTTONS AND NUMBERS ***/

.chrono-interface {
    background-color: black;
    color: white;
    font-size: 2.4em;
    width: 9em;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 30px;
    border: 3px solid red;
    border-radius: 10px;
}

.counter {
    width: 7em;
    margin-left: 1em;
}

.chrono-display {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 4.3em;
    height: 1.5em;
    font-family: 'Roboto Mono', monospace;
}

#chrono-pause-button, #chrono-reset-button {
    background-color: red;
    color: white;
    border: 1px solid red;
    font-size: 0.5em;
    letter-spacing: 0.1em;
    text-align: center;
    font-family: 'Bangers', cursive;
    border-radius: 3px;
    width: 4em;
    height: 2.5em;
}

#chrono-continue-button {
    background-color: red;
    color: white;
    border: 1px solid red;
    font-size: 0.5em;
    letter-spacing: 0.1em;
    text-align: center;
    font-family: 'Bangers', cursive;
    border-radius: 3px;
    width: 7em;
    height: 2.5em;
}

#chrono-continue-button:active, #chrono-pause-button:active, #chrono-reset-button:active {
    box-shadow: 2px 2px 2px white;
    transform: translateY(1px);
  }

#chrono-continue-button:focus, #chrono-pause-button:focus, #chrono-reset-button:focus {
    outline: 0;
}

/*** BOARDGAME ***/

.boardgame {
    display: grid;
	grid-template-columns: 125px repeat(7, 80px) 125px;
	grid-template-rows: 125px repeat(7, 80px) 125px;
	grid-gap: 2px;
	margin: 3.5% auto;
	width: 57.6%;
	height: 57.6%;
    background: black;
    background-size: auto;
	border: 2px solid black;
}

/*** PLAYERS ***/

.logo-ironhack {
    width: 10em;
    z-index: 1;
}

.player-position {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38px;
    height: 38px;
    background-image: url(../img/logo-ironhack-blue.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.black, .white, .blue {
    display: none;
}

/*** TITLE ***/

.title-box {
    grid-column: 2 / 9;
    grid-row: 2 / 9;
	justify-items: center;
	align-items: center;
}

.title {
    font-family: 'Bangers', cursive;
    font-size: 9em;
    font-weight: 400;
    letter-spacing: 0.1555em;
    margin: 0;
    padding-bottom: 0.1rem;
    color: red;
    text-align: center;
    line-height: 2.12em;
    background-image: url("https://lh3.googleusercontent.com/proxy/b-0QMtIA7KxNgZeDAMMVKNNtu_W3ajR6iztQ2oSfjgdVCvxhZKwIk0kn6W3vFhJrYyuBzOY2k7gLc4NfLMAH-xhYa7pRR4LCcp4sHRyG0Mgedlo4YCO9Uq0xwtANSip4FizjsETnzdp1KzADl1Gk1A");
    background-position: center;
    background-size: 6em;
}

/*** GENERAL ROWS ***/

.row {
	display: grid;
	grid-gap: 2px;
}

/*** VERTICAL ROWS ***/

.vertical-row {
	grid-template-columns: 125px;
	grid-template-rows: repeat(7, 80px);
}

.vertical-row .container {
    top: 50%;
    left: 50%;
}

.left-row {
	grid-column: 1;
	grid-row: 2 / 10;
}

.left-row .container {
    transform: translate(-50%, -50%) rotate(90deg);
}

.right-row {
	grid-column: 9;
	grid-row: 2 / 9;
}

.right-row .container {
    transform: translate(-50%, -50%) rotate(270deg);
}

/*** HORITZONTAL ROWS ***/

.horizontal-row {
	grid-template-columns: repeat(7, 80px);
	grid-template-rows: 125px;
}

.bottom-row {
	grid-column: 2 / 9;
	grid-row: 9;
}

.top-row {
	grid-column: 2 / 9;
	grid-row: 1;
}

.top-row .container {
    transform: rotate(180deg);
}



/*** SPACE AND CORNER BOXES ***/

.space-property, .corner {
	background: #fafaf8;
	text-align: center;

}
.space-property .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transform-origin: center;
    height: 125px;
    width: 80px;
}

.space-property .container .name, .instructions{
    padding-left: 15px;
	padding-right: 15px;
}

.space-property .container .price{
    font-size: 10px;
    font-weight: 400;
    padding-bottom: 5px;
}

.corner .container {
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.corner .name {
    padding: 0;
}

.wordpress {
    font-size: 9px;
}

/*** SPACE-PROPERTY BOX COLOR ***/

.space-property .container .bar {
    height: 25px;
    border-bottom: 2px solid black;
}

.space-property .container .light-blue {
    background-color: lightblue;
}

.space-property .container .dark-purple {
    background-color: rgb(102, 5, 102);
}

.space-property .container .orange {
    background-color: orange;
}

.space-property .container .purple {
    background-color: rgb(165, 4, 165);
}

.space-property .container .red {
    background-color: red;
}

.space-property .container .yellow {
    background-color: yellow;
}

.space-property .container .green {
    background-color: green;
}

.space-property .container .dark-blue {
    background-color: darkblue;
}

/*** MOBILES COMPANIES BOX IMAGES ***/

.logo {
    margin-left: 1em;
    width: 6em;
    height: 7em;
}

.mastercard {
    height: 5em;
}

.mastercard-tax > .container > .name {
    padding-left: 0.6em;
}
/*** WIFI/START CORNER BOX ***/

.start {
	grid-column: 9;
	grid-row: 9 / 10;
    position: relative;
}

.start .container {
    justify-content: flex-start;
	transform: rotate(315deg);
}

.start .instructions {
    padding: 0 30px;
}

.start .text {
    font-size: 20px;
    color: red;
}

.img-wifi-logo {
    width: 80px;
    height: 50px;
}

/*** JAIL CORNER BOX ***/

.jail {
	grid-column: 1;
	grid-row: 9 / 10;
}

.jail .container {
    justify-content: flex-start;
	transform: rotate(50deg);
}

.jail .text {
    padding-top: 10px;
    font-size: 20px;
    color: blue;   
}

.img-jail {
    width: 80px;
    height: 80px;
}

/*** FREE PARKING CORNER BOX ***/

.free-parking {
    grid-column: 1;
	grid-row: 1;
}

.free-parking .container {
    justify-content: center;
    transform: rotate(135deg);
}

.free-parking .text {
    font-size: 20px;
    padding-top: 10px;
}

.img-free-parking {
    width: 80px;
    height: 70px;
}

/*** GO TO JAIL CORNER BOX ***/

.go-to-jail {
	grid-column: 9;
	grid-row: 1;
}

.go-to-jail .container {
    justify-content: center;
    transform: rotate(225deg);
}

.go-to-jail .text {
    padding-top: 10px;
    font-size: 20px;
}

.img-go-to-prison {
    width: 60px;
    height: 60px;
}

/************************
****** START PAGE *******
*************************/

/*** CONTAINER ***/

.start-container {
    position: absolute;
    background: white;
    z-index: 3;
    width: 144em;
    height: 105em;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/*** TITLE ***/

.start-title {
    font-size: 10em;
    text-align: center;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.15em;
    color: red;
    text-shadow: 5px 5px 5px black;
}

/*** IMAGE ***/

.img-monopoly {
    height: 40em;
}

/*** BUTTON ***/

.start-button {
    border: 2px solid black;
    color: white;
    background-color: black;
    border-radius: 60px;
    width: 100px;
    height: 80px;
    font-size: 25px;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    box-shadow: 0px 0px 30px 0px red;
}

.start-button:focus {
    outline: 0;
}

.start-button:active {
    box-shadow: 0px 0px 30px 0px rgb(190, 5, 5);
    transform: translateY(4px);
  }

/*************************
****** TIMEOUT PAGE ******
*************************/

/*** CONTAINER ***/

.timeout-container {
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 50em;
    height: 70em;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-left: 47em;
    margin-top: 23em;
    border: 1px solid white;
    border-radius: 10em;
    box-shadow: 0px 0px 15px 10px red;
}

/*** TITLE ***/

.timeout-title {
    font-size: 10em;
    text-align: center;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.2em;
    color: black;
    text-shadow: 5px 7px 1px red;
}

/*** IMAGE ***/

.img-timeout {
    height: 30em;
}

/*** BUTTON ***/

.timeout-restart-button {
    border: 2px solid red;
    color: white;
    background-color: red;
    border-radius: 60px;
    width: 120px;
    height: 80px;
    margin-top: 30px;
    font-size: 25px;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    box-shadow: 0px 0px 30px 0px black;
}

.timeout-restart-button:focus {
    outline: 0;
}

.timeout-restart-button:active {
    box-shadow: 0px 0px 30px 0px rgb(190, 5, 5);
    transform: translateY(4px);
  }